.link {
	margin-left: 2em;
}
.active {
	text-decoration: none;
	color: rgb(212, 65, 102);
}
.menu,
.history,
.modal__block {
	width: 80%;
	margin: 0 auto;
}
.menu__wrapper {
	display: flex;
	flex-direction: column;
}
.menu__image {
	display: block;
	width: 300px;
	height: auto;
}
.loading {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.329);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loading__text {
	text-align: center;
	font-size: 2em;
}
